<div class="section-tout hidden-xs">
      <div class="container">

  <div class="row">
    <div class="col-md-12 text-center "> 
      <h2 class="hidden-xs">Over 25 Global Brands Use PLUSfoam</h2> 
    </div>
  </div>

  <div class="row brands">
  
    <div class="col-sm-2 hidden-xs">
      <img alt="Patagonia Footwear" class="#" src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/Patagonia_Logo_PLUS.png" width="100%">
    </div>

    <div class="col-sm-2 hidden-xs">
      <img alt="Roxy - Quiksilver" class="#" src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/Roxy.Logo_.png" width="100%">
    </div>

    <div class="col-sm-2 hidden-xs">
      <img alt="Manduka Yoga" class="#" src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/Manduka_Logo1.png" width="100%">
    </div>
    
    <div class="col-sm-2 hidden-xs">
      <img alt="New Balance Sandals" class="#" src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/NB_Logo_PLUS.png" width="100%">
    </div>
    
    <div class="col-sm-2 hidden-xs">
      <img alt="Telic Footwear" class="#" src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/Telic-Logo.png" width="100%">
    </div>
    
    <div class="col-sm-2 hidden-xs">
      <img alt="VANS Footwear" class="#" src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/VANS_Logo_PLUS.png" width="100%">
  
  </div>


</div>
</div>
</div>