<div class="row">
  <div class="col-md-offset-1 col-md-10 hidden-xs text-center">

  <h2>The World's Largest Brands Are Using PLUSfoam</h2>
  <br>
    <img src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/brandpartners-14.jpg" width="100%">
  </div>
</div>