<div class="container hidden-xs">
<br>
<br>
<div class="row reclaim submissions">
  <div class="col-md-1">
    <img alt="Chase" class="img-circle" height="100%" src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/a5f2f32a10970817e1545afc50a3ac4b_bigger.jpeg" width="70">
  </div>
  <div class="col-md-3">
    <p style="font-size: 16px;"><strong>Chase</strong> recycled his TOMS Earthwise PLUSfoam shoes for 20% off his next purchase at TOMS.com<br>
        <span class="location-landing pull-right" style="font-style: italic;">–Miami, FL</span>
      </p>
  </div>

  <div class="col-md-1">
    <img alt="Bridgette" class="img-circle" height="100%" src="https://pbs.twimg.com/profile_images/431279508381921280/4cowflK4.jpeg" width="70">
  </div>
  <div class="col-md-3">
    <p style="font-size: 16px;"><strong>Bridgette</strong> recycled her Kigo flit shoes for 40% off her next product at Kigo.com<br>
        <span class="location-landing pull-right" style="font-style: italic;">–Portland, OR</span>
      </p>
  </div>

  <div class="col-md-1">
    <img alt="Jason" class="img-circle" height="100%" src="https://pbs.twimg.com/profile_images/2406010665/2unep5cxbv80kgnp3vyy.jpeg" width="70">
  </div>
  <div class="col-md-3">
    <p style="font-size: 16px;"><strong>Jason</strong> recycled his Ruffwear Lunker dog toy for 25% off his next product at Ruffwear.com<br>
        <span class="location-landing pull-right" style="font-style: italic;">–Newport Beach, CA</span>
      </p>
  </div>
</div>