<p>PLUS compounds can be compounded to look, feel and behave like EVA in many ways; one main difference is that all PLUS compounds are closed-cell, which means they are all inherently non-microbial and nonabsorbent. Compared to EVA of a similar density and durometer PLUSfoam® typically has better rebound, takes less compression set and has greater elongation. PLUS compounds also tend to have better traction in both wet and dry conditions than the materials they are intended to replace.</p>
<div class="well">
<ul>
<li>PLUS materials are in the "thermoplastic" family of compounds and are not "thermoset" materials.</li>
<li>PLUS compounds can be sheet formed, drape formed, cut and buffed, skived, split, cold press molded, compression molded and injection molded.</li>
<li>They use similar glue systems and stock fitting processes and do not need any special equipment for any typical production methods in use today.</li>
<li>PLUS compounds are very easy to color – creating very intense bright color and rich, deep, dark hues require no extra colorant, as is the case with EVA.</li>
</ul>
</div>
<table class="table table-striped">
<thead>
<tr>
<th><strong>Document</strong></th>
<th><strong>Part Type</strong></th>
<th><strong>Document Link</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>Restricted Substance List</td>
<td>Vans Footbed</td>
<td><a class="btn btn-primary btn-sm" href="http://plusfoam.com/2012PLUS/wp-content/uploads/2013/12/PLUSfoam-RSL-12.1.2013.pdf">View</a></td>
</tr>
<tr>
<td>Non-Microbial Report</td>
<td>All Parts</td>
<td><a class="btn btn-primary btn-sm" href="http://www.plusfoam.com/files/PLUSfoam%20Non-Microbial%20Report%202010.pdf">View</a></td>
</tr>
<tr>
<td>Technical Testing</td>
<td>Overall Advantages</td>
<td><a class="btn btn-primary btn-sm" href="http://www.plusfoam.com/files/Technical_Advantages.pdf">View</a></td>
</tr>
<td>Technical Testing</td>
<td>Vans Nexpa Insole</td>
<td><a class="btn btn-primary btn-sm" href="http://www.plusfoam.com/files/PLUSfoam%20Insole%20-%20Lab%20Report.pdf">View</a></td>
</tr>
<tr>
<td>Technical Testing</td>
<td>Vans Nexpa Midsole</td>
<td><a class="btn btn-primary btn-sm" href="http://www.plusfoam.com/files/PLUS_Data_Footwear_Midsole.pdf">View</a></td>
</tr>
<tr>
<td>Technical Testing</td>
<td>Vans Nexpa Outsole - Black</td>
<td><a class="btn btn-primary btn-sm" href="http://www.plusfoam.com/files/PLUS_Data_Footwear_Outsole_Black.pdf">View</a></td>
</tr>
<tr>
<td>Technical Testing</td>
<td>Vans Nexpa Outsole - Blue</td>
<td><a class="btn btn-primary btn-sm" href="http://www.plusfoam.com/files/PLUS_Data_Footwear_Outsole_Blue.pdf">View</a></td>
</tr>
<tr>
<td>Technical Testing</td>
<td>Vans Nexpa 'Pinline'</td>
<td><a class="btn btn-primary btn-sm" href="http://www.plusfoam.com/files/PLUS_Data_Footwear_Pinline.pdf">View</a></td>
</tr>
</tbody>
</table>
&nbsp;
<table class="table table-striped">
<thead>
<tr>
<th><strong>PLUSfoam Number</strong></th>
<th><strong>Density (g/cm³)</strong></th>
<th><strong>Document Link</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>PLUSfoam #0</td>
<td>0.09</td>
<td><a class="btn btn-primary btn-sm" href="http://www.plusfoam.com/files/PLUSfoam%20-%20PF%230%20D-0.09.pdf">View</a></td>
</tr>
<tr>
<td>PLUSfoam #0</td>
<td>0.15</td>
<td><a class="btn btn-primary btn-sm" href="http://www.plusfoam.com/files/PLUSfoam%20-%20PF%230%20D-0.15.pdf">View</a></td>
</tr>
<tr>
<td>PLUSfoam #0</td>
<td>0.2</td>
<td><a class="btn btn-primary btn-sm" href="http://www.plusfoam.com/files/PLUSfoam%20-%20PF%230%20D-0.2.pdf">View</a></td>
</tr>
</tbody>
</table>
&nbsp;
<table class="table table-striped">
<thead>
<tr>
<th><strong>PLUSfoam Number</strong></th>
<th><strong>Density (g/cm³)</strong></th>
<th><strong>Document Link</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>PLUSfoam #1</td>
<td>0.09</td>
<td><a class="btn btn-primary btn-sm" href="http://www.plusfoam.com/files/PLUSfoam%20-%20PF%231%20D-0.09.pdf">View</a></td>
</tr>
<tr>
<td>PLUSfoam #1</td>
<td>0.15</td>
<td><a class="btn btn-primary btn-sm" href="http://www.plusfoam.com/files/PLUSfoam%20-%20PF%231%20D-0.15.pdf">View</a></td>
</tr>
<tr>
<td>PLUSfoam #1</td>
<td>0.2</td>
<td><a class="btn btn-primary btn-sm" href="http://www.plusfoam.com/files/PLUSfoam%20-%20PF%230%20D-0.2.pdf">View</a></td>
</tr>
<tr>
<td>PLUSfoam #1</td>
<td>0.429</td>
<td><a class="btn btn-primary btn-sm" href="http://www.plusfoam.com/files/PLUSfoam%20-%20PF%231%20D-0.429.pdf">View</a></td>
</tr>
<tr>
<td>PLUSfoam #1</td>
<td>0.525</td>
<td><a class="btn btn-primary btn-sm" href="http://www.plusfoam.com/files/PLUSfoam%20-%20PF%231%20D-0.525.pdf">View</a></td>
</tr>
</tbody>
</table>
&nbsp;
<table class="table table-striped">
<thead>
<tr>
<th><strong>PLUSfoam Number</strong></th>
<th><strong>Density (g/cm³)</strong></th>
<th><strong>Document Link</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>PLUSfoam #2</td>
<td>0.409</td>
<td><a class="btn btn-primary btn-sm" href="http://www.plusfoam.com/files/PLUSfoam%20-%20PF%232%20D-0.541.pdf">View</a></td>
</tr>
<tr>
<td>PLUSfoam #2</td>
<td>0.541</td>
<td><a class="btn btn-primary btn-sm" href="http://www.plusfoam.com/files/PLUSfoam%20-%20PF%231%20D-0.15.pdf">View</a></td>
</tr>
<tr>
<td>PLUSfoam #2</td>
<td>0.558</td>
<td><a class="btn btn-primary btn-sm" href="http://www.plusfoam.com/files/PLUSfoam%20-%20PF%232%20D-0.558.pdf">View</a></td>
</tr>
<tr>
<td>PLUSfoam #3</td>
<td>0.409</td>
<td><a class="btn btn-primary btn-sm" href="http://www.plusfoam.com/files/PLUSfoam%20-%20PF%233%20D-0.409.pdf">View</a></td>
</tr>
<tr>
<td>PLUSfoam #3</td>
<td>0.432</td>
<td><a class="btn btn-primary btn-sm" href="http://www.plusfoam.com/files/PLUSfoam%20-%20PF%233%20D-0.432.pdf">View</a></td>
</tr>
</tbody>
</table>