<div class="row clearfix spaced">
    <div class="col-md-12 column">
      <div class="row clearfix spaced">
        <div class="col-md-8 column">
          <br>
          <br>
          <h3>
            We help companies make smarter...better products.
          </h3>
            <p class="feature-detail-about">
              PLUSfoam is committed to "saving the planet...one product at a time™". Using proprietary, 100% RECYCLABLE compounds, we produce materials and components for manufacturers of branded consumer goods. <br>
              <br>
              PLUSfoam often outperforms the materials they are intended to replace such as traditional foams, plastics and rubber. We currently operate reclaim facilities in the US, Canada, Europe, China, Korea and Japan where consumers can return any products made with PLUSfoam.
            </p>
        </div>
        <div class="col-md-4 column">
        <br>
        <br>
        <br>
          <h4>
            Need Help?
          </h4> <%= link_to "Contact Us", contact_path, class: 'btn btn-success btn-lg btn-block' %>

          <h4>
          <br>
            Want to recycle something?
          </h4> <%= link_to "Recycle Now", new_user_registration_path, class: 'btn btn-default btn-lg btn-block' %>
        </div>
      </div>
      <div class="row clearfix spaced">
        <div class="col-md-12 column">
          <h3>
            Come See Us at HQ! <small>We would love to see you.</small>
          </h3>

          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3322.0043310429137!2d-117.9339306!3d33.6311297!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dd2072d75a3315%3A0xf54cabba05bec327!2s844+Production+Pl!5e0!3m2!1sen!2sus!4v1398270263404" width="100%" height="350px" frameborder="0" style="border:0"></iframe>

        </div>
      </div>
      <div class="row clearfix">
        <div class="col-md-6 column">
          <h3 class="text-left">
            Media
          </h3>
            <ul>
              <li><a href="http://www.prnewswire.com/news-releases/manduka-launches-liveon-the-first-100-recyclable-and-reclaimable-collection-of-yoga-products-253351691.html">Manduka® & PLUSfoam® Launch LiveON™</a>
              </li>

              <li><a href="http://www.toms.ca/stories/movement/meet-the-new-earthwise-classics-with-plusfoam">TOMS partners with PLUSfoam to launch new Earthwise Classics</a>
              </li>

              <li><a href="http://insideoutdoor.com/plus-compound-roxy-partner-on-100-recyclable-flip-flop/">PLUS Compound, ROXY Partner on 100% Recyclable Flip Flop</a>
              </li>

              <li><a href="http://ecowatch.com/2014/03/25/video-5-gyres-expedition/">PLUSfoam Powers 5 Gyres Expedition Social Media Platform</a>
              </li>

              <li><a href="http://outdoorindustry.org/news/industry.php?newsId=17945">Ruffwear® Partners with PLUSfoam® to Launch Eco-Friendly Dog Toy</a>
              </li>

            </ul>
        </div>
        <div class="col-md-6 column">
        <br>
        <br>
          <a href="#"><h4 class="text-left">
            Press Kit (PDF) - Coming Soon
          </h4></a>
           <a href="#"><h4 class="text-left">
            Stock Images - Coming Soon
          </h4></a>
          <p>For questions and interviews, please contact <a href="mailto:recycle@plusfoam.com">recycle@PLUSfoam.com</a>
        </div>
      </div>
    </div>
  </div>
