</div>
</div>
<div class="splash-about">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1>All About PLUS</h1>
            <p>PLUSfoam allows consumer goods to be recycled infinitely.</p>
          </div>
        </div>
      </div>
    </div>

 <div class="container">


<div class="one">

<p><br></p>
<p class="lead">PLUS Compounds® are performance based, 100% recyclable alternatives to traditional foams (EVA &amp; PU), rubbers and plastics.</p>
<p><br></p>
<div class="row">
<div class="col-sm-7 col-md-7">
<h1 class="title-features-blue title">PLUSfoam Reduces Waste</h1>
<p class="feature-detail">With traditional materials, post-manufacturing scrap is incinerated or pushed into landfill. With PLUSfoam, it’s recycled at the factory and used for new production. While post-consumer reclaim is very important, the bulk of recycling happens at the manufacturing level – saving tens of thousands of pounds of waste.</p>
</div>
<div class="col-sm-5 col-md-5">
<img src="http://plusfoam.com/2012PLUS/wp-content/uploads/2013/10/PLUS.Manufacturing.Waste_.Graph_-e1380916514681.png" class="img-responsive"></div>
</div>
<p><br><br>
<br></p>
<div class="row">
<div class="col-sm-5 col-md-5">
<br>
<br>
<br>
<br>
<p class="text-center"><img src="http://plusfoam.com/2012PLUS/wp-content/uploads/2013/10/PLUS.TotalWasteFigure.png" class="img-responsive"></p>
</div>
<div class="col-sm-7 col-md-7">
<br><br>
<br><p></p>
<h1 class="title-features-blue title">PLUSfoam At-A-Glance</h1>
<ul>
<li>
<p class="feature-detail">Virgin PLUSfoam is manufactured; any fallout mixed back in immediately</p>
</li>
<li>
<p class="feature-detail">Post-manufacturing scrap reprocessed and reused on the spot</p>
</li>
<li>
<p class="feature-detail">Components and finished goods are produced and sold to brand partners</p>
</li>
<li>
<p class="feature-detail">Consumer buys product and enjoys for the duration of the product’s life</p>
</li>
<li>
<p class="feature-detail">Returns the product to PLUSfoam for post-consumer reclaim/reuse</p>
</li>
<li>
<p class="feature-detail">Product is ground up, reconstituted and born again into new products</p>
</li>
<li>
<p class="feature-detail">The loop is closed…everybody wins!</p>
</li>
</ul>
</div>
</div>
<p><br><br>
<br></p>
<div class="row">
<div class="col-md-12">
<p class="lead">Simply put, PLUS materials are better for the environment than other foam and rubber products. PLUS materials offer a cleaner material solution to many of the problems found in the production of other compounds today.</p>
</div>
</div>
<p><br><br>
<br></p>
<div class="col-md-12 text-center"><a href="http://plusfoam.com/contact-2"><button type="button" class="btn btn-success btn-lg">CONTACT US TODAY</button></a>   </div>

</p></div>
</div>