</div> <!-- to go fullsize with the splash -->

<div class="splash-consumer">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
          </div>
        </div>
      </div>
    </div>

 <div class="container">

<div class="row">

  <div class="col-md-offset-1 col-md-10 text-center">
  <br>
  <br>
    <h1>Our goal is to put landfills out of business.</h1>
    <br>
  </div>
</div>

  <div class="row">

  <div class="col-md-offset-1 col-md-10 text-center">
  
    <h3>32 million tons of plastic waste were generated in 2012 (<a href="http://www.epa.gov/osw/conserve/materials/plastics.htm">EPA</a>).<br>
    <small>PLUSfoam reduces waste by eliminating manufacturing scrap during production & operating a full reclaim/recycling operation to take-back products when you are done using them.</small></h3>
    <br>
    <br>
  </div>
</div>

  <br>
  <br>

</div>

<div class="section-tout reclaim regions">
  <div class="container">
    <div class="row">
    
    <h3 class="text-center">What Makes PLUSfoam Special?</h3>
    <br>
    <br>
    <br>
    <div class="col-md-offset-2 col-md-4 text-center">
      <i class="fa fa-globe fa-5x"></i>
        <h4>#SaveThePlanet</h4>
        <p style="font-size: 16px;">Help keep useful things out of the landfill. It’s better for everyone.</p>
    </div>

    <div class="col-md-4 text-center">
      <i class="fa fa-gift fa-5x"></i>
        <h4>Save Money</h4>
        <p style="font-size: 16px;">Return your product & get a discount on a new product.</p>
    </div>
  </div>


<br>
<br>
<br>

<div class="row">
  <div class="col-md-offset-2 col-md-4 text-center">
    <i class="fa fa-truck fa-5x"></i>
      <h4>Free Shipping*</h4>
      <p style="font-size: 16px;">Fly through our site and we'll whip up a free shipping label. It's easy. *USA Only.</p>
  </div>

  <div class="col-md-4 text-center">
    <i class="fa fa-users fa-5x"></i>
      <h4>Bragging Rights</h4>
      <p style="font-size: 16px;">You'll get extra street cred on social media when you share with your friends.</p>
  </div>
</div>

</div>
</div>
</div>

<div class="container">

  <br>
  <br>
  <br>
  <br>

<div class="row brands">

<h3 class="text-center">These Awesome Companies Already Use PLUSfoam - Check Out Their Products</h3>
  
    <div class="col-sm-2 hidden-xs">
       <a href="http://www.patagonia.com/us/patagonia.go?assetid=95558" target="_blank"><img alt="Patagonia Footwear" class="#" src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/Patagonia_Logo_PLUS.png" width="100%"></a>
    </div>

    <div class="col-sm-2 hidden-xs">
      <a href="http://www.roxy.com/kiwi-sandal/rxyusarjl100117" target="_blank"><img alt="Roxy - Quiksilver" class="#" src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/Roxy.Logo_.png" width="100%"></a>
    </div>

    <div class="col-sm-2 hidden-xs">
      <a href="http://www.manduka.com/us/shop/categories/products/sandals/?homepage-cta-3" target="_blank"><img alt="Manduka Yoga" class="#" src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/Manduka_Logo1.png" width="100%"></a>
    </div>
    
    <div class="col-sm-2 hidden-xs">
      <img alt="New Balance Sandals" class="#" src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/NB_Logo_PLUS.png" width="100%">
    </div>
    
    <div class="col-sm-2 hidden-xs">
      <a href="http://www.terox.com/products.html" target="_blank"><img alt="Telic Footwear" class="#" src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/Telic-Logo.png" width="100%"></a>
    </div>
    
    <div class="col-sm-2 hidden-xs">
      <img alt="VANS Footwear" class="#" src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/VANS_Logo_PLUS.png" width="100%">
  
  </div>
</div>

  <br>
  <br>
  <br>


   
    <div class="row">
    <br>

    <div class="col-md-offset-3 col-md-6 text-center">

    <h2 class="text-center">How it Works</h2>
    
    <br>

    <img src="http://cdn.makeagif.com/media/4-22-2014/D6ujdG.gif" width="100%">

    <br>
    <br>
    <br>
    <br>
    </div>

    <br>
  <div class="col-md-offset-1 col-md-3 vcenter">
    <p>First we convince major brands to stop using their current <strong>non-recyclable</strong> materials and switch to PLUSfoam. This allows them to recycle manufacturing wastes and allows consumers to recycle their products when they are done using them. Nothing goes to landfill.</p>
  </div>

  <div class="col-md-1 text-center vcenter">
    <br>
    <br>
    <i class="fa fa-play fa-4x vcenter"></i>
  </div>

  <div class="col-md-3 vcenter">
    <p>Consumers then have options when they shop to buy products that are 100% recyclable and products that are made using recycled/reused PLUSfoam. Right now we have brands making all types of things out of PLUSfoam: yoga mats, sandals, bags, dog toys and even space harnesses just to name a few. </p>
  </div>

  <div class="col-md-1 text-center vcenter">
    <br>
    <br>
    <i class="fa fa-play fa-4x vcenter"></i>
  </div>

   <div class="col-md-3 vcenter">
    <p>Once a consumer is done using a product – we know styles change frequently – the consumer can then recycle their product that is made of PLUSfoam. He/she visits <strong>PLUSfoam.com</strong> and generates a pre-paid shipping label. They then receive a discount code for a new product via e-mail.</p>
  </div>
<br>
<br>

</div>
<br>
<br>
<br>
<br>
<br>

</div>

<div class="section-tout reclaim regions">
  <div class="container">
    <div class="row continents">

    <br>
    <br>

      <div class="col-md-12 text-center">
      <h1>6 Recycling Centers, 3 Continents</h1>
        <br>
      </div>

      <div class="col-sm-offset-2 col-sm-2 col-md-offset-2 col-md-2 text-center">
        <img src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/reclaim-usa.png" alt="NA" width="100%">
          <br>
          <br>
          <p>West Coast - CA</p>
          <p>East Coast - NY</p>
          <p>Canada - Montreal</p>
      </div>

      <div class="col-sm-1 col-md-1"></div>

      <div class="col-sm-2 col-md-2 text-center">
        <img src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/reclaim-europe.png" alt="Europe" width="100%">
          <br>
          <br>
          <p>Europe - Austria</p>
      </div>

       <div class="col-sm-1 col-md-1"></div>

      <div class="col-sm-2 col-md-2 text-center">
        <img src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/reclaim-japan.png" alt="Asia" width="100%">
          <br>
          <br>
          <p>Japan - Tokyo</p>
          <p>China - Dong Wong</p>
          <p>Korea - Seoul</p>
      </div>
    </div>
      
      <br>
      <br>
      <br>

  </div>
</div>

<br>
<br>
<br>

<div class="container">

  <div id="social buttons">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 text-center">
        <h3>Help Spread the Word & Save the Planet</h3>
        <br>
        <a href="#" class="btn btn-default btn-lg ">SHARE ON FACEBOOK</a> <a href="#" class="btn btn-info btn-lg">SHARE ON TWITTER</a>  
        <br>
        <br>
        <br>
    </div>
  </div>

</div>