<div class="content">
  
  <h1>FAQs</h1>

    <h2>How do I get a brand reward?</h2>
      <p>
        Recycling is a reward in itself...but to make things even better we've worked to develop an incentive program with our brand patners. Several companies are now offering rewards for returning a used PLUSfoam product. Once you log-in to the recycle portal and send back your PLUSfoam product we will send you a unique discount code to use towards your next purchase. Say that you return a pair of Manduka sandals. Once you're done with the sandals, you log-on and send back the sandals. Once we receive your sandals at one of our recycling centers, we will send you a promo code to get 20% off your next Manduka product. How cool is that??
      </p>

    <h2>What if I want to return a product that is not made of PLUSfoam?</h2>
    <p>
      Sorry, but at this time we are only able to accept products made with PLUSfoam. Our material is unique in that it can be recycled infinitely, while other materials such as EVA and plastic cannot.
    </p>

    <h2>What if my product is damaged?</h2>
    <p>
      We can accept products made from PLUSfoam in any condition. It can be torn, worn-down, or chewed-up – we will be able to recycle it just the same! It's simply magical.
    </p>

</div>