<div class="content">
  
  <h1>FAQs</h1>

    <h2>How do I get a brand reward?</h2>
      <p>
        Recycling is a reward in itself...but to make things even better we've worked to develop an incentive program with our brand patners. Several companies are now offering rewards for returning a used PLUSfoam product. Once you log-in to the recycle portal and send back your PLUSfoam product we will send you a unique discount code to use towards your next purchase. Say that you return a pair of Manduka sandals. Once you're done with the sandals, you log-on and send back the sandals. Once we receive your sandals at one of our recycling centers, we will send you a promo code to get 20% off your next Manduka product. How cool is that??
      </p>

    <h2>What if I want to return a product that is not made of PLUSfoam?</h2>
    <p>
      Sorry, but at this time we are only able to accept products made with PLUSfoam. Our material is unique in that it can be recycled infinitely, while other materials such as EVA and plastic cannot.
    </p>

    <h2>What if my product is damaged?</h2>
    <p>
      We can accept products made from PLUSfoam in any condition. It can be torn, worn-down, or chewed-up – we will be able to recycle it just the same! It's simply magical.
    </p>

    <h2>What if I want to mail back more than one PLUSfoam product at a time?</h2>
    <p>
      We chose the water bottle as a way to return multiple toothbrushes because it is lightweight, widely available, and easy to recycle once received!  However, any lightweight, sturdy envelope is also acceptable when sending in your Preserve toothbrushes for recycling.
    </p>

    <h2>What other products can I recycle with Preserve?</h2>
    <p>
      We accept all plastic Preserve products back for recycling as well as any clean #5 plastic (excluding medical products).  You can recycle either through our Gimme 5 mail-in program or drop off your #5 plastics in a <a target="_blank" href="http://www.preserveproducts.com/recycling/gimme5locations.html" title="Locate a Gimme 5 bin near you">Gimme 5 bin at a location near you</a>.  To mail in plastics, please send only clean plastic marked with the #5 recycling symbol to:
    </p>
    <p class="Address vcard">
      <span class="organization-name">Preserve Gimme5</span>
      <span class="street-address">823 State Route 13</span>
      <span class="locality">Cortland</span>, <span class="region">NY</span> <span class="postal-code">13045-6574</span>
    </p>
    <p>
      If you include your email on the outside of the package, we’ll reward you through our partnership with Recyclebank with Recyclebank Points.
      If you want to earn Recyclebank points for dropping off at a Gimme 5 bin, join mygimme5 at <a target="_blank" href="http://www.mygimme5.com/recycling">mygimme5.com/recycling</a>.
    </p>
    <p>
      Don’t see the answer to your question? <a href="/contact" title="Contact Preserve">Click here to contact us</a>.
    </p> 
    </div>