<div class="content">
      <h1>FAQs</h1>

<h2>Why is the postage paid mailer no longer part of the package?</h2>
<p>
  Your participation in Preserve’s toothbrush recycling program has increased dramatically (nearly 400% growth) since the introduction of the Preserve Toothbrush in Mail-back Pack.  To sustain the program and to push recycling rates beyond the 20% mark, we have decided to take a new approach.  In order to get there, we need committed recyclers like you to recycle toothbrushes in bulk (starting with 2 at a time, and ideally 6 or more at a time).  This reduces costs and the amount of packaging used to send back the toothbrushes. Through this change we can recycle more and also reward you for recycling. Thank you for taking this step with us.
</p>

<h2>What does it cost Preserve to pay the postage for recycling?</h2>
<p>
  To date, we’ve spent over $400,000 in postage to create a closed loop program for our toothbrush! That’s a lot of toothbrushes recycled.  This is how much Preserve pays in postage to get your toothbrush shipped back to us for recycling:
</p>

<table>
<thead>
<tr>
  <th># of toothbrushes in package</th>
  <th>Postage</th>
  <th>Postage per toothbrush</th>
</tr>
</thead>
<tbody>
<tr>
  <td>1</td>
  <td>$1.95</td>
  <td>$1.95</td>
</tr>
<tr>
  <td>2</td>
  <td>$1.95</td>
  <td>$.98</td>
</tr>
<tr>
  <td>3</td>
  <td>$1.95</td>
  <td>$.65</td>
</tr>
<tr>
  <td>4</td>
  <td>$1.95</td>
  <td>$.49</td>
</tr>
<tr>
  <td>5</td>
  <td>$1.95</td>
  <td>$.39</td>
</tr>
</tbody>
</table>

<p>
  (For you math fans out there, the USPS charges $1.95 for the first three ounces and $.17 per ounce thereafter).
</p>

<h2>How do I get rewards?</h2>
<p>
  Recycling is rewarding in and of itself, but to make this important action more fun we’re going to start offering you rewards. When you enter a unique rewards code to <a href="/return" title="Recycle Your Preserve Toothbrushes">recycle your toothbrush</a>, you will receive access to a big discount at our online store.   But this is only the first step. The more codes you enter, the more rewards we’ll send you (like free products). Stay tuned as more details will soon be announced.
</p>

<h2>What if I don’t have a code and want to recycle my toothbrush?</h2>
<p>
  If you have toothbrushes to recycle that don’t have a code, please contact us at <a href="mailto:toothbrushrecycling@preserveproducts.com?subject=Recycling My Preserve Toothbrush">toothbrushrecycling@preserveproducts.com</a> or call us at <a title="Call Preserve" href="tel:1-888-354-7296">1-888-354-7296</a>.
</p>

<h2>What if I lost the toothbrush packaging to mail back?</h2>
<p>
  As long as you have already entered one code from your Preserve toothbrush package (mail back packages only) and have received a postage paid label, simply print out the label and follow the instructions for mailing using a 16 oz. plastic beverage bottle.  This way you’re sending both a bottle and your toothbrushes for recycling! All of this is explained once you enter your code, but simply put all you need to do is:
</p>
<ul>
  <li>Put between 2 and 6 toothbrushes in a dry 16 oz, plastic bottle with the label removed</li>
  <li>Roll the mailing label so you can insert it into the bottle</li>
  <li>Insert the toothbrushes and twist on the cap</li>
</ul>
<p>
  Make sure that the label can be read from the outside of the bottle.  You can then mail it at any USPS mailbox.  If you don’t have a plastic beverage bottle you can use a lightweight sturdy envelope.
</p>

<h2>What if I want to mail back more than two toothbrushes for recycling and I don’t have a water bottle?</h2>
<p>
  We chose the water bottle as a way to return multiple toothbrushes because it is lightweight, widely available, and easy to recycle once received!  However, any lightweight, sturdy envelope is also acceptable when sending in your Preserve toothbrushes for recycling.
</p>

<h2>What other products can I recycle with Preserve?</h2>
<p>
  We accept all plastic Preserve products back for recycling as well as any clean #5 plastic (excluding medical products).  You can recycle either through our Gimme 5 mail-in program or drop off your #5 plastics in a <a target="_blank" href="http://www.preserveproducts.com/recycling/gimme5locations.html" title="Locate a Gimme 5 bin near you">Gimme 5 bin at a location near you</a>.  To mail in plastics, please send only clean plastic marked with the #5 recycling symbol to:
</p>
<p class="Address vcard">
  <span class="organization-name">Preserve Gimme5</span>
  <span class="street-address">823 State Route 13</span>
  <span class="locality">Cortland</span>, <span class="region">NY</span> <span class="postal-code">13045-6574</span>
</p>
<p>
  If you include your email on the outside of the package, we’ll reward you through our partnership with Recyclebank with Recyclebank Points.
  If you want to earn Recyclebank points for dropping off at a Gimme 5 bin, join mygimme5 at <a target="_blank" href="http://www.mygimme5.com/recycling">mygimme5.com/recycling</a>.
</p>
<p>
  Don’t see the answer to your question? <a href="/contact" title="Contact Preserve">Click here to contact us</a>.
</p> 
    </div>