</div> <!-- to go fullsize with the splash -->

<div class="splash">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Recycling simplified.</h1>
          <p>PLUSfoam allows consumer goods to be recycled infinitely.</p>
          <p><%= link_to "What is PLUSfoam?", about_path, class: "btn btn-default btn-lg" %>
          <%= link_to "Recycle A PLUSfoam Product!", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row brands">
  
    <div class="col-sm-2 hidden-xs">
      <img alt="Patagonia Footwear" class="#" src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/Patagonia_Logo_PLUS.png" width="100%">
    </div>

    <div class="col-sm-2 hidden-xs">
      <img alt="Roxy - Quiksilver" class="#" src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/Roxy.Logo_.png" width="100%">
    </div>

    <div class="col-sm-2 hidden-xs">
      <img alt="Manduka Yoga" class="#" src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/Manduka_Logo1.png" width="100%">
    </div>
    
    <div class="col-sm-2 hidden-xs">
      <img alt="New Balance Sandals" class="#" src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/NB_Logo_PLUS.png" width="100%">
    </div>
    
    <div class="col-sm-2 hidden-xs">
      <img alt="Telic Footwear" class="#" src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/images1.jpg" width="100%">
    </div>
    
    <div class="col-sm-2 hidden-xs">
      <img alt="VANS Footwear" class="#" src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/VANS_Logo_PLUS.png" width="100%">
  
  </div>
</div> <!-- close container for tout section -->

<%= render 'layouts/tout' %>

<br>
<br>
<br>
<br>
<div class="row spaced">
<div class="col-sm-7">
<br>
<br>
<h1 class="title-features-blue">Reduce Your Manufacturing Impact</h1>
<p class="feature-detail">With traditional materials, post-manufacturing scrap is incinerated or pushed into landfill. With PLUSfoam, it’s recycled at the factory and used for new production. Virgin PLUSfoam is manufactured and any fallout is mixed back in immediately. Additionally, if there is any post-manufacturing scrap, it too is reprocessed and reused on the spot.</p>
<br>
<p class="feature-detail"><strong>See how much your brand can save. <a class="navigational" href="/about">Learn More <i class="fa fa-share"></i></a>
    </strong></p>
<p></p></div>
<div class="col-sm-5 hidden-xs"><img src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/PLUS.Manufacturing.Waste_.Graph_-e1380916514681.png" width="100%"></div>
</div>
<br>
<br>
<br>
<br>
<div class="row spaced">
<div class="col-sm-5 hidden-xs">
<iframe src="//player.vimeo.com/video/90994347?title=0&amp;byline=0" width="100%" height="258" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></iframe><!-- 
<img src="http://plusfoam.com/2012PLUS/wp-content/uploads/2013/10/PLUS.Reclaim.Discounts.png" width="100%"> --></div>
<div class="col-sm-7">
<br>
<br>
<h1 class="title-features-blue text-right">Market Directly to Green Consumers</h1>
<p class="feature-detail text-right">Our in-house design and marketing team works with our brand partners to craft consumer reclaim incentives, industry press releases, trade show marketing materials and much more. We also coach our partners on how to explain PLUSfoam and its unique recyclability properties to consumers, reps and retailers.</p>
<br>
<p class="feature-detail text-right"><strong>Market, strategize, analyze. <a href="/marketing">Learn more <i class="fa fa-share"></i></strong></a></p>
</div>
</div>

<br>
<br>
<br>
<br>
<br>

<div class="row">
  <div class="col-md-12 text-center "> 
    <h2 class="hidden-xs">Over 25 Global Brands Trust PLUSfoam's Materials</h2> 
      <p style="font-size: 18px;">Check out what people are saying...</p>
  </div>
</div>

<br>

<!-- TWEETS - WORD ON THE STREET -->

<div class="row tweets">
  <div class="col-md-1"></div>
    <div class="col-md-5">  

      <blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/search?q=%23PLUSfoam&amp;src=hash">#PLUSfoam</a> &amp; <a href="https://twitter.com/patagonia">@Patagonia</a> create 100% <a href="https://twitter.com/search?q=%23recyclable&amp;src=hash">#recyclable</a> flip-flops that can be <a href="https://twitter.com/search?q=%23upcycled&amp;src=hash">#upcycled</a> into new flip-flops <a href="http://t.co/W3m3rUHrQm">http://t.co/W3m3rUHrQm</a> <a href="https://twitter.com/search?q=%23sustainability&amp;src=hash">#sustainability</a></p>&mdash; CSRwire (@CSRwire) <a href="https://twitter.com/CSRwire/statuses/364808394927915010">August 6, 2013</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

      <blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/katyalison">@katyalison</a> Hi Kate, TOMS Earthwise PLUSFoam can be recycled. Find more info here: <a href="http://t.co/nZGQTrw4N6">http://t.co/nZGQTrw4N6</a> ^KM</p>&mdash; TOMSsupport (@TOMSsupport) <a href="https://twitter.com/TOMSsupport/statuses/436551125983301632">February 20, 2014</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

      <blockquote class="twitter-tweet" lang="en"><p>Just got our first pair back for recycling after 6-months of hard wear from a guide. plusfoam <a href="https://twitter.com/search?q=%23recyclesazzi&amp;src=hash">#recyclesazzi</a> <a href="http://t.co/t2t7cQBr">http://t.co/t2t7cQBr</a></p>&mdash; Sazzi® Footwear (@SazziFootwear) <a href="https://twitter.com/SazziFootwear/statuses/290184615853957120">January 12, 2013</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      
    </div>

  <div class="col-md-5">  
      <blockquote class="twitter-tweet" lang="en"><p>Hip hip for the new recycling venture - Manduka is teaming up with PLUSfoam to bring to a closed loop sandal near... <a href="http://t.co/Bk8zo4Giky">http://t.co/Bk8zo4Giky</a></p>&mdash; yogitoes (@yogitoes) <a href="https://twitter.com/yogitoes/statuses/451763671769681920">April 3, 2014</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

      <blockquote class="twitter-tweet" lang="en"><p>We are excited to announce our partnership w/ PLUSfoam! Our sandals will be 100% recycled material. Saving the planet one slippah at a time!</p>&mdash; Scott Hawaii (@scotthawaii) <a href="https://twitter.com/scotthawaii/statuses/233994372914483200">August 10, 2012</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    </div>
  </div>

<br>
<br>

<div id="row">
  <div id="col-md-12">
  <p class="lead text-center"><a href="/contact"><button type="button" class="btn btn-success btn-lg">INTRIGUED?  LET’S CHAT</button></a></p>
  </div>
</div>
