<div class="jumbotron center">
  <h1>What do you want to recycle?</h1>
  <p>
  Congrats on wanting to save the planet. You've arrived.
  </p>

  <p>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </p>

</div>

<div class="row">
<div class="well well-lg"><div class="row">
  <div class="col-md-3 text-center"><i class="fa fa-cloud-download fa-5x"></i></div>
  <div class="col-md-9"><p style="font-size: 20px;">Visit <a href="/reclaim">PLUSfoam.com/reclaim</a> to download your shipping label. We have over 7 reclaim centers around the world to make it even easier to recycle your product.</p></div>
</div>
</br>
</br>
<div class="row">
  <div class="col-md-3 text-center"><span><i class="fa fa-envelope-o fa-5x"></i></span></div>
  <div class="col-md-9"></br><p style="font-size: 20px;">Prepare you PLUS product for shipping and drop it in the mail when you're ready.</p></div>
</div>
</br>
</br>
<div class="row">
  <div class="col-md-3 text-center"><i class="fa fa-money fa-5x"></i></div>
  <div class="col-md-9"><p style="font-size: 20px;">Once our reclaim center receives your PLUS product, you will receive an e-mail notification along with a discount code to save you $$ on your next purchase*. <strong>Thanks for helping "Save the Planet...One Product at a Time!"</strong>
</p></div>
</div>
</div>
<div class="col-md-12 text-center">
<button type="button" class="btn btn-success btn-lg">GET STARTED NOW</button>
</div>
