<div class="row clearfix">
    <div class="col-md-12 column">
      <h3 class="text-center">
        International Recycling Labels
      </h3>
      <br>
      <p>Please download the label for the recycling center closest to you. Print it out and drop your product in the mail. International postage is not free. Once your product is received at one of our recycling centers, you will receive your reward (if applicable).</p>
    </div>
</div>
<br>
<br>
<div class="row">

             <div class="col-md-6 text-center">
         <a href="#" class="thumbnail">
                  <img src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/CanadaMap.jpg" alt="Canada Map" width="100%">
                </a>
       <br>
       <p><strong>Canada</strong></p>
       <address>
   <strong>PLUSfoam Canada Reclaim Center</strong><br>
   ℅ Back River Sports<br>
  4022-5800 St. Denis<br>
  Montreal, Quebec H2S 3L5<br>
  Canada<br>
  </address>
       <a class="btn btn-primary btn-large btn-block" href="https://dl.dropboxusercontent.com/u/3700607/PLUS_Shipping_Canada.pdf" target="_blank">Download Label</a>
             </div>



  <div class="col-md-6 text-center">
         <a href="#" class="thumbnail">
                  <img src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/AustriaMap.jpg" alt="Europe Map" width="100%">
    </a>
<br>
       <p><strong>Europe</strong></p>
       <address>
   <strong>PLUSfoam Europe Reclaim Center</strong><br>
   ℅ Kutschera<br>
  Dorfplatz 9<br>
  AT-6092 Birgitz<br>
  Austria<br>
  </address>
       <a class="btn btn-primary btn-large btn-block" href="https://dl.dropbox.com/u/3700607/PLUS-ShippingLabel-EUR-M2012.jpg" target="_blank">Download Label</a>
             </div>
</div>
<br>
<br>
<div class="row">
             <div class="col-md-6 text-center">
         <a href="#" class="thumbnail">
                  <img src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/ChinaMap.jpg" alt="China Map" width="100%">
   </a>
<br>
       <p><strong>China</strong></p>
       <address>
   <strong>PLUSfoam China Reclaim Center</strong><br>
   Hui-ao Boulevard, Huiyang Economic Development Zone<br>
   Yang District<br>
   HuiZhou, GuangDong<br>
   China 516213
   <abbr title="Phone">P:</abbr> (+86-752) 373-7185
  </address>
       <a class="btn btn-primary btn-large btn-block" href="https://dl.dropbox.com/u/3700607/PLUS-ShippingLabel-China.jpg" target="_blank">Download Label</a>
             </div>


             <div class="col-md-6 text-center">
         <a href="#" class="thumbnail">
                  <img src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/Korea.Map.jpg" alt="Korea Map" width="100%">
                </a>
       <br>
       <p><strong>Korea</strong></p>
       <address>
   <strong>PLUSfoam Reclaim Korea</strong><br>
   c/o U International<br>
   550-15 The Segye Times 550-15
   Gasan-Dong Geumcheon-Gu<br>
     Seoul, Korea 153-803<br>
   <abbr title="Phone">P:</abbr> (+82) 2 867-3311
  </address>
       <a class="btn btn-primary btn-large btn-block" href="http://plusfoam.com//2012PLUS/wp-content/themes/bigbangwp/includes/reclaim/labels/PLUS_Shipping_Korea.pdf" target="_blank">Download Label</a>
             </div>

             </div>

  <br>
  <br>
  <p class="text-center">Thank you for recycling your <font color="#00AEEF">PLUS</font> products with us, and helping to save the planet one product at a time!</p>
    <br>
    <br>
     
     <p class="text-center"><a href="/contact" class="btn btn-lg btn-success">Questions? Contact Us</a></p>
     <br>

  </div>