<br>
<h1>Download Shipping Label</h1>
<br>

   
    <p>Please select the correct label based on your location, attach it firmly to your envelope or box, and take it to your nearest post office. <strong>You will need to cover the cost of shipping.</strong><br>
<br>Once your product is received at one of our reclaim centers, you will be notified via e-mail and you will receive your reward (if applicable). Since we're humans and not robots, it typically takes us 7-10 business days to process received goods.</p>
    <br>
    <h4>Select Region to View &amp; Print Shipping Label</h4>
    <br>
<div class="row">
  <div class="col-md-4 text-center">
         <a href="#" class="thumbnail">
                  <img src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam%20Reclaim/PF.HQ.jpg" width="100%" alt="">
    </a>
<br>
       <p><strong>USA - West Coast</strong></p>
       <address>
   <strong>PLUSfoam HQ</strong><br>
   844 Production Place<br>
   Newport Beach, CA 92663<br>
   <abbr title="Phone">P:</abbr> (888) 689-PLUS
  </address>
       <a class="btn btn-primary btn-large btn-block" href="https://dl.dropbox.com/u/3700607/PLUS-ShippingLabel-USA-M2012.jpg" target="_blank">Download Label</a>
             </div>


             <div class="col-md-4 text-center">
         <a href="#" class="thumbnail">
                  <img src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam%20Reclaim/PF.East.jpg" width="100%" alt="">
   </a>
<br>
       <p><strong>USA - East Coast</strong></p>
       <address>
   <strong>PLUSfoam East Coast Reclaim Center</strong><br>
   c/o Vere Sandals<br>
   122 N. Genesee Street #A303<br>
   Geneva, NY 14456<br>
  </address>
       <a class="btn btn-primary btn-large btn-block" href="http://plusfoam.com//2012PLUS/wp-content/themes/bigbangwp/includes/reclaim/labels/PLUS_Shipping_US_East.pdf" target="_blank">Download Label</a>
             </div>


             <div class="col-md-4 text-center">
         <a href="#" class="thumbnail">
                  <img src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam%20Reclaim/PF.Canada.jpg" width="100%" alt="">
                </a>
       <br>
       <p><strong>Canada</strong></p>
       <address>
   <strong>PLUSfoam Canada Reclaim Center</strong><br>
   ℅ Back River Sports<br>
  4022-5800 St. Denis<br>
  Montreal, Quebec H2S 3L5<br>
  </address>
       <a class="btn btn-primary btn-large btn-block" href="https://dl.dropboxusercontent.com/u/3700607/PLUS_Shipping_Canada.pdf" target="_blank">Download Label</a>
             </div>

             </div>
<br>

<div class="row">
  <div class="col-md-4 text-center">
         <a href="#" class="thumbnail">
                  <img src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam%20Reclaim/PF.Europe.jpg" width="100%" alt="">
    </a>
<br>
       <p><strong>Europe</strong></p>
       <address>
   <strong>PLUSfoam Europe Reclaim Center</strong><br>
   ℅ Kutschera<br>
  Dorfplatz 9<br>
  AT-6092 Birgitz<br>
  Austria<br>
  </address>
  <br>
       <a class="btn btn-primary btn-large btn-block" href="https://dl.dropbox.com/u/3700607/PLUS-ShippingLabel-EUR-M2012.jpg" target="_blank">Download Label</a>
             </div>


             <div class="col-md-4 text-center">
         <a href="#" class="thumbnail">
                  <img src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam%20Reclaim/PF.China.jpg" width="100%" alt="">
   </a>
<br>
       <p><strong>China</strong></p>
       <address>
   <strong>PLUSfoam China Reclaim Center</strong><br>
   Hui-ao Boulevard, Huiyang Economic Dev Zone<br>
   Yang District<br>
   HuiZhou, GuangDong<br>
   China 516213
   <abbr title="Phone">P:</abbr> (+86-752) 373-7185
  </address>
  <br>
       <a class="btn btn-primary btn-large btn-block" href="https://dl.dropbox.com/u/3700607/PLUS-ShippingLabel-China.jpg" target="_blank">Download Label</a>
             </div>


             <div class="col-md-4 text-center">
         <a href="#" class="thumbnail">
                  <img src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam%20Reclaim/PF.Korea.jpg" width="100%" alt="">
                </a>
       <br>
       <p><strong>Korea</strong></p>
       <address>
   <strong>PLUSfoam Reclaim Korea</strong><br>
   c/o U International<br>
   550-15 The Segye Times 550-15
   Gasan-Dong Geumcheon-Gu<br>
     Seoul, Korea 153-803<br>
   <abbr title="Phone">P:</abbr> (+82) 2 867-3311
  </address>
       <a class="btn btn-primary btn-large btn-block" href="http://plusfoam.com//2012PLUS/wp-content/themes/bigbangwp/includes/reclaim/labels/PLUS_Shipping_Korea.pdf" target="_blank">Download Label</a>
             </div>

             </div>

  <br>
  <br>
  <p class="text-center">Thank you for recycling your <font color="#00AEEF">PLUS</font> products with us, and helping to save the planet one product at a time!</p>
    <br>
</div>
</div>