</div> <!-- to go fullsize with the splash -->

<div class="splash-manufacturer">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
          </div>
        </div>
      </div>
    </div>

<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10 text-center">
      <br>
      <br>
    <h3 class="text-center">PLUSfoam significantly reduces waste - both during the manufacturing process & allows consumers to recycle products and close the loop.</h3>
  </div>
</div>


  <br>
  <br>
  <br>


<div class="row reclaim submissions">
  <div class="col-md-offset-2 col-md-1">
    <img alt="Ruffwear" class="img" height="100%" src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/ruffwear.logo.jpg" width="70">
  </div>
  <div class="col-md-7">
    <p style="font-size: 16px;">“In the true sense of partnering, the team at PLUSfoam continues to provide excellent service, whether they are adding value to the design and development process or responding to sample request… The PLUS team is creative, thoughtful and awesome to work with!”<br>
    <br>
        <span class="location-landing pull-right" style="font-style: italic;">–Patrick Kruse, Ruffwear Dog Toys</span>
      </p>
  </div>

  <br>
  <br>
  <br>

  <div class="col-md-offset-2 col-md-1">
    <img alt="Vere" class="img" height="100%" src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/vere.logo.jpg" width="70">
  </div>
  <div class="col-md-7">
    <p style="font-size: 16px;">“We’re very excited to be able to incorporate PLUSfoam into our entire product line. Our intent from day one has been to provide a more sustainable product, and making our sandals with PLUSfoam is the solution to our biggest obstacle as we are finally able to move away from the alternative, more harmful materials. The PLUS team has made the transition smooth, and kept us educated and informed. I only wish it had been available sooner.” <br>
    <br>
        <span class="location-landing pull-right" style="font-style: italic;">–John Eades, Vere Sandals</span>
      </p>
  </div>

</div>


  <br>
  <br>
  <br>

<%= render 'pages/brandpartners14' %>

  <br>
  <br>
  <br>


<div class="row spaced">
  <div class="col-sm-5 col-md-5 vcenter">
    <img src="" class="img-responsive">
  </div>

  <div class="col-sm-7 col-md-7 vcenter">
    <p class="feature-detail"></p>
  </div>
</div>

<div class="row spaced">
  <div class="col-sm-7 col-md-7 vcenter">
    <h1 class="title-features-blue title">PLUSfoam Reduces Waste</h1>
      <p class="feature-detail">With traditional materials, post-manufacturing scrap is incinerated or pushed into landfill. With PLUSfoam, it’s recycled at the factory and used for new production. While post-consumer reclaim is very important, the bulk of recycling happens at the manufacturing level – saving tens of thousands of pounds of waste.</p>
  </div>

  <div class="col-sm-5 col-md-5 vcenter">
    <img src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/PLUS.Manufacturing.Waste_.Graph_-e1380916514681.png" class="img-responsive">
  </div>

</div>

<div class="row spaced">
  <div class="col-sm-5 col-md-5 vcenter">

      <img src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/PLUS.TotalWasteFigure.png" class="img-responsive">
  </div>

  <div class="col-sm-7 col-md-7 vcenter">
 
    <h1 class="title-features-blue title">PLUSfoam At-A-Glance</h1>
    <ul>
    <li>
    <p class="feature-detail">Virgin PLUSfoam is made; any fallout mixed back in immediately</p>
    </li>
    <li>
    <p class="feature-detail">Brand partner receives material and produces product - saves manufacturing scrap for recycling by PLUSfoam</p>
    </li>
    <li>
    <p class="feature-detail">Consumer buys product & uses for the duration of the product’s life</p>
    </li>
    <li>
    <p class="feature-detail">Consumer returns the product to PLUSfoam recycling</p>
    </li>
    <li>
    <p class="feature-detail">Product is ground up, reconstituted and used again</p>
    </li>
    <li>
    <p class="feature-detail">The loop is closed…everybody wins!</p>
    </li>
    </ul>

  </div>

</div>

<div class="row spaced">
  <div class="col-sm-7 col-md-7 vcenter">
    <h1 class="title-features-blue">PLUSfoam Communication</h1>
      <p class="feature-detail">Help us, help you, help the planet! The closed-loop story adds value to your marketing message & product. We work with you on creative & innovative ways to communicate and incentivize your consumers to send product back to PLUSfoam. The only requirement is that brands incorporate some form of on-product marking & offer a hang-tag.</p>
  </div>

  <div class="col-sm-5 col-md-5 vcenter">
    <img src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/PLUS-Hangtag.14.jpg" alt="Product Marketing Ideas" width="100%">
  </div>
</div>

<div class="row spaced">
  <div class="col-sm-5 col-md-5 vcenter">
    <img src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/Roxy.PLUS_.MarketingPage.jpg" width="100%">
  </div>

  <div class="col-sm-7 col-md-7 text-right vcenter">
    <h1 class="title-features-blue text-right">Why On-Product Marking?</h1>
      <p class="feature-detail">On-product marking greatly enhances the communication to consumers that your product is recyclable and ultimately helps  them close the loop. The only requirement we have is that our brand partners give their customers an opportunity to close the loop by communicating the recyclability of the product.
  </div>
</div>


<div class="row spaced">
  <div class="col-sm-7 col-md-7 vcenter">
    <h1 class="title-features-blue">Incentivize Customers to Close the Loop</h1>
      <p class="feature-detail">Many of our brand partners offer discounts towards future purchases. This incentivizes consumers to return their used products and complete another purchase with the same company. PLUSfoam facilitates the reclaim process, runs the backend database and communicates with customers. All your brand needs to do is provide the incentive; we'll take care of the rest.</p>
  </div>
  
  <div class="col-sm-5 col-md-5 vcenter">
    <img src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/PLUS.Reclaim.Discounts.png" width="100%"></div>
</div>


<div class="row spaced">
   
  <div class="col-md-12 text-center">

      
      <br>
    <a href="http://plusfoam.com/contact"><button type="button" class="btn btn-success btn-lg">CONTACT US TODAY</button></a>
  </div>

  </div>
</div>