</div>
<div class="splash-marketing">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1>Marketing & PLUSfoam</h1>
            <p>Telling a better brand story with smarter materials.</p>
<!--             <p><%= link_to "Log in & Recycle", new_user_session_path, class: "btn btn-default btn-lg" %>
    <%= link_to "I'm New - Sign me up!", new_user_registration_path, class: "btn btn-primary btn-lg" %></p> -->
          </div>
        </div>
      </div>
    </div>

<br>
 <div class="container">

<div class="row">
<div class="col-sm-7 col-md-7">
<h1 class="title-features-blue">PLUSfoam Communication</h1>
<p class="feature-detail">Help us, help you, help the planet! The closed-loop story adds value to your marketing message & product. We work with you on creative & innovative ways to communicate and incentivize your consumers to send product back to PLUSfoam. The only requirement is that brands incorporate some form of on-product marking & offer a hang-tag.</p>
</div>
<div class="col-sm-5 col-md-5">
</br>
<img src="http://plusfoam.com/2012PLUS/wp-content/uploads/2014/04/PLUS-Hangtag.14.jpg" alt="Product Marketing Ideas" width="100%">
</div>
</div>
</br>
</br>
<div class="row">
<div class="col-sm-5 col-md-5"><img src="http://plusfoam.com/2012PLUS/wp-content/uploads/2013/10/Roxy.PLUS_.MarketingPage.jpg" width="100%"></div>
<div class="col-sm-7 col-md-7 text-right">
<h1 class="title-features-blue text-right">Why On-Product Marking?</h1>
<p class="feature-detail">On-product marking greatly enhances the communication to consumers that your product is recyclable and ultimately helps  them close the loop. The only requirement we have is that our brand partners give their customers an opportunity to close the loop by communicating the recyclability of the product.</p></div>
</div>
</br>
</br>
<div class="row">
<div class="col-sm-7 col-md-7">
<h1 class="title-features-blue">Other Marketing Ideas</h1>
<p class="feature-detail"><ul class="feature-detail">
<li class="feature-detail">PLUSfoam FAQ cards for reps & retail stores</li>
<li class="feature-detail">Informational/FAQ card to include with consumer product (in box or in the packaging)</li>
<li class="feature-detail">Catalog copy to help highlight the PLUSfoam story and reclaim process</li>
<li class="feature-detail">Trade show floor tiles, PLUSfoam signage and giveaways (coasters, koozies, etc.)</li>
<li class="feature-detail">Social media campaigns & social marketing platforms</li>
<li class="feature-detail">Video assets - coming soon</li>
<li class="feature-detail">Photography assets</li>
</p>
</ul></div>
<div class="col-sm-5 col-md-5"><img src="http://plusfoam.com/2012PLUS/wp-content/uploads/2013/10/Tretorn.Insert.PLUSfoam.png" alt="Product Marketing Ideas" width="100%"></div>
</div>
</br>
</br>
<div class="row">
<div class="col-md-12 text-center">
<h1 class="title-features-blue">Our Reclaim Process - How We Close The Loop</h1>
</div>
</div>
</br>
<div class="row text-center">
<div class="col-sm-3 col-md-3"><p class="feature-detail">Consumers visit PLUSfoam.com to obtain return shipping label.</p></div>
<div class="col-sm-1 col-md-1"><span class="glyphicon glyphicon-chevron-right"></span></div>
<div class="col-sm-4 col-md-4"><p class="feature-detail">Product is returned to reclaim facility, PLUSfoam distributes brand marketing incentive to consumer (if applicable).</p></div>
<div class="col-sm-1 col-md-1"><span class="glyphicon glyphicon-chevron-right"></span></div>
<div class="col-sm-3 col-md-3"><p class="feature-detail">Product is recycled! Consumer feels good ☺ and the loop is closed.</p></div>
</div>
</br>
</br>

<div class="row">
<div class="col-sm-5 col-md-5"><img src="http://plusfoam.com/2012PLUS/wp-content/uploads/2013/10/PLUS.World_.Reclaim.Facilities.jpg" width="100%"></div>
<div class="col-sm-7 col-md-7 text-right"><h1 class="title-features-blue">Consumer Reclaim & PLUSfoam</h1>
<p class="feature-detail">Our custom-built reclaim portal collects customer information and generates a return shipping label that allows them to return a PLUS product it back to us. We currently operate reclaim centers in the USA (2), Canada, Europe and Asia (3), with more coming online in the next few months. Check out the process <a href="http://plusfoam.com/reclaim/?area=usa">here.</a></p></div>
</div>
</br>
</br>

<div class="row">
<div class="col-sm-7 col-md-7">
<h1 class="title-features-blue">Incentivize Customers to Close the Loop</h1>
<p class="feature-detail">Many of our brand partners offer discounts towards future purchases. This incentivizes consumers to return their used products and complete another purchase with the same company. PLUSfoam facilitates the reclaim process, runs the backend database and communicates with customers. All your brand needs to do is provide the incentive; we'll take care of the rest.</p></div>
<div class="col-sm-5 col-md-5"><img src="http://plusfoam.com/2012PLUS/wp-content/uploads/2013/10/PLUS.Reclaim.Discounts.png" width="100%"></div>
</div>
</br>
</br>
<p class="lead text-center">Looking to add value to your brand? We're here to help.</p>
</br>
<div class="col-md-12 text-center"><a href="http://plusfoam.com/contact-2"><button type="button" class="btn btn-success btn-lg">CONTACT US TODAY</button></a>   </div>
</br>