</div>
<div class="splash-materials">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1>Materials & PLUSfoam</h1>
            <p>Smater materials engineered for better performance.</p>
            <p><a href="#" class="btn btn-lg btn-default">LEARN MORE</a></p>
<!--             <p><%= link_to "Log in & Recycle", new_user_session_path, class: "btn btn-default btn-lg" %>
    <%= link_to "I'm New - Sign me up!", new_user_registration_path, class: "btn btn-primary btn-lg" %></p> -->
          </div>
        </div>
      </div>
    </div>

<br>
 <div class="container">
<div class="one">
<p class="lead">PLUS Compounds® are performance based, 100% recyclable alternatives to traditional foams (EVA &amp; PU), rubbers and plastics. Applications for PLUS Compounds are virtually unlimited and we have become experts in compounding this material to match virtually any performance specification.</p>
<p><br></p>
<div class="row">
<div class="col-md-6"><img src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam-14-Site/plus-footwear.png" class="img-responsive"></div>
<div class="col-md-6">
<br><p></p>
<ul>
<li class="feature-detail">Proprietary compound to replace traditional foams, rubbers and plastics</li>
<li class="feature-detail">Non-microbial, hydrophobic and contains far fewer chemicals than EVA</li>
<li class="feature-detail">PERFORMANCED BASED – beats EVA, rubber and plastic in most tests</li>
<li class="feature-detail">Hypo-allergenic, REACH and Prop 65 compliant</li>
<li class="feature-detail">100% RECYCLABLE MATERIAL</li>
<li class="feature-detail">Virtually zero post-manufacturing waste</li>
<li class="feature-detail">Closed-loop system for post-consumer reclaim</li>
</ul>
</div>
</div>
<!-- <p><br></p>
<div class="row">
<div class="col-md-3"> <a class="pull-left" href="http://plusfoam.com/portfolio/plusfoam/"><br>
    <img class="media-object img-responsive" src="http://plusfoam.com/2012PLUS/wp-content/uploads/2012/10/PLUSfoam_Button.jpg" alt="Fusion HD"><br>
  </a></div>
<div class="col-md-9">
<br><br>
<br><p></p>
<h4 class="title-features title">PLUSfoam</h4>
<p>New PLUSfoam® batches are crafted using various combinations of reclaimed post-consumer materials, post-manufacturing scrap and virgin material. This material is processed with foaming agents and the material is reconstituted into a consistent sheet form ready for production of new components or finished goods.</p>
<p></p></div>
</div>
<div class="row">
<div class="col-md-3"><a class="pull-left" href="http://plusfoam.com/portfolio/hd-plus/"><br>
    <img class="media-object img-responsive" src="http://plusfoam.com/2012PLUS/wp-content/uploads/2013/10/HD-PLUS.png" alt="HD PLUS"><br>
  </a></div>
<div class="col-md-9">
<br><p></p>
<h4 class="title-features title">HD PLUS</h4>
<p>HD PLUS™ is a high density compound consisting of proprietary PLUS material that has not been foamed and expanded. It is used to create a look and feel consistent with rubber – while offering performance characteristics comparable to, or in many cases better than, those of rubber. Similar to PLUSfoam®, HD PLUS™ can be crafted in various combinations of reclaimed post-consumer waste, post-manufacturing scrap and virgin materials. It is compounded and processed using proprietary techniques to create sheets or rolls of new material ready for die cutting, forming or molding into components or finished goods.
</p>
<p></p></div>
</div>
<div class="row">
<div class="col-md-3"><a class="pull-left" href="http://plusfoam.com/portfolio/fusionfoam/"><br>
    <img class="media-object img-responsive" src="http://plusfoam.com/2012PLUS/wp-content/uploads/2012/10/Fusion_Foam.jpg" alt="Fusion HD"><br>
  </a></div>
<div class="col-md-9">
<br><p></p>
<h4 class="title-features title">FUSION FOAM</h4>
<p>FUSIONfoam™ batches consist of 100% RECYCLED material from reclaimed post-consumer materials and/or post-manufacturing scrap that is chopped and fused together using heat and pressure to create sheet material. This material can then be molded or cut to virtually any specification. FUSIONfoam™ provides a unique material option that is 100% RECYCLED and 100% RECYCLABLE with lower carbon impact for a variety of applications where typical foams are used today.
</p>
<p></p></div>
</div>
<div class="row">
<div class="col-md-3"><a class="pull-left" href="http://plusfoam.com/portfolio/fusion-hd/"><br>
    <img class="media-object img-responsive" src="http://plusfoam.com/2012PLUS/wp-content/uploads/2012/10/FUSION_HD1.jpg" alt="Fusion HD"><br>
  </a></div>
<div class="col-md-9">
<br><p></p>
<h4 class="title-features title">FUSION HD</h4>
<p>Fusion HD™ is a High Density compound made of 100% RECYCLED FUSIONfoam™ that has been reconstituted via high heat and greater pressure and is not in any way foamed or expanded. It is used to create a look and feel consistent with rubber while offering performance characteristics comparable to, or in many cases better than, those of rubber. It is compounded and processed using proprietary techniques to create sheets or rolls of new material ready for die cutting, forming or molding into components or finished goods.</p>
<p></p></div>
</div> -->
    </div>