<br>
<br>
<br>
<div class="row">
<div class="col-md-offset-4 col-md-4 text-center">
<h1>Oh no!</h1>
<h4>It appears that something has gone terribly wrong.</h4>
<br>
<br>
<p>Let's get you back to our homepage and out of danger.</p>
<br>
<br>
<%= link_to "Return to Homepage", root_path, class: 'btn btn-danger btn-lg' %>
</div>
</div>