<h1 class="text-center">Let's Get Started!</h1>

<h3>Please select the brand first so we can show you all the relevant products.</h3>
<div class="row">
  <div class="col-md-2">
    <img src="http://plusfoam.com/2012PLUS/wp-content/themes/bigbangwp/includes/reclaim/images/brands/select_patagonia_new.png" width="100%">
  </div>

   <div class="col-md-2">
    <img src="http://plusfoam.com/2012PLUS/wp-content/themes/bigbangwp/includes/reclaim/images/brands/select_patagonia_new.png" width="100%">
  </div>

   <div class="col-md-2">
    <img src="http://plusfoam.com/2012PLUS/wp-content/themes/bigbangwp/includes/reclaim/images/brands/select_patagonia_new.png" width="100%">
  </div>

   <div class="col-md-2">
    <img src="http://plusfoam.com/2012PLUS/wp-content/themes/bigbangwp/includes/reclaim/images/brands/select_patagonia_new.png" width="100%">
  </div>

   <div class="col-md-2">
    <img src="http://plusfoam.com/2012PLUS/wp-content/themes/bigbangwp/includes/reclaim/images/brands/select_patagonia_new.png" width="100%">
  </div>

   <div class="col-md-2">
    <img src="http://plusfoam.com/2012PLUS/wp-content/themes/bigbangwp/includes/reclaim/images/brands/select_patagonia_new.png" width="100%">
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-2">
    <img src="http://plusfoam.com/2012PLUS/wp-content/themes/bigbangwp/includes/reclaim/images/brands/select_patagonia_new.png" width="100%">
  </div>

   <div class="col-md-2">
    <img src="http://plusfoam.com/2012PLUS/wp-content/themes/bigbangwp/includes/reclaim/images/brands/select_patagonia_new.png" width="100%">
  </div>

   <div class="col-md-2">
    <img src="http://plusfoam.com/2012PLUS/wp-content/themes/bigbangwp/includes/reclaim/images/brands/select_patagonia_new.png" width="100%">
  </div>

   <div class="col-md-2">
    <img src="http://plusfoam.com/2012PLUS/wp-content/themes/bigbangwp/includes/reclaim/images/brands/select_patagonia_new.png" width="100%">
  </div>

   <div class="col-md-2">
    <img src="http://plusfoam.com/2012PLUS/wp-content/themes/bigbangwp/includes/reclaim/images/brands/select_patagonia_new.png" width="100%">
  </div>

   <div class="col-md-2">
    <img src="http://plusfoam.com/2012PLUS/wp-content/themes/bigbangwp/includes/reclaim/images/brands/select_patagonia_new.png" width="100%">
  </div>
</div>


<br>

<%= render @brands %>


<br>
<br>