<br>

  <ol class="breadcrumb">
    <li class="active"><%= link_to "Brands", reclaim_path %></li>
  </ol>
  

  <h3 class="text-center">Hi! Please select a brand, then select the product you would like to recycle.
  </h3>

<br>

  <%= render @brands %>
