<div class="row">
  <div class="container col-md-push-3 col-md-5">
    <h3>Please Review Your Submission</h3>
      <%= @submission.user.email %><br>
      <%= @submission.brand.description %><br>
      <%= @submission.product.name %><br>
      <%= @submission.created_at %>

  </div>


</div>

<br>
<br>