<div class="row">
  <div class="container col-md-push-3 col-md-6 text-center">
    <h2>Thanks, you rock!</h2>

    <img src="https://dl.dropboxusercontent.com/u/3700607/giphy-1.gif" width="100%">
    <br>
<br>
     <p>We've locked-in your submission.</p>
     <p>We'll watch for your <strong><%= @submission.brand.description %></strong> product at our recycling center.</p>
     <p>Once we receive your product we'll send you your DISCOUNT via e-mail.</p>

     <p>You can review the status of your return HERE-FEATURE-BUTTON.</p>

     <br>


     <p> <a href="#" class="btn btn-lg btn-primary"><i class="fa fa-facebook"></i>  SHARE ON FACEBOOK</a>   <a href="https://twitter.com/share" class="btn  btn-lg btn-info twitter-share" data-related="pluscompound" data-lang="en" data-size="large" data-text="I <3 the earth and just recycled my <%= @submission.brand.description %> <%= @submission.product.name %> that are made with 100% recyclable PLUSfoam. Join me! http://bit.ly/1pdxWrU" data-count="none">SHARE ON TWITTER <i class="fa fa-twitter"></i></span></a>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>

    <br>
<!--       <a href="#" class="btn btn-default">My Recycled Products <span class="glyphicon glyphicon-user"></span></a>
 -->
  </div>


</div>
