<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.first_name %>,</h1></p>
    <p>We received your PLUS product back at our recycling center</p>

    <p>Once it is processed you will receive your discount code!</p>

    <p>Have a great day!</p>

    <p>Chase (I'm the reclaim guru at PLUSfoam)<br>

    <p>---------<br>
    <a href="http://www.plusfoam.com">www.PLUSfoam.com</a><br>
    Follow us on Twitter @PLUScompound
    </p>

  </body>
</html>