<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <h1>Welcome to plusfoam.com, <%= @user.first_name %>.</h1>
    <p>
      You have successfully signed up to example.com,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>

    <div class="row">
  <div class="col-md-6 text-center">
         <a href="#" class="thumbnail">
                  <img src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam%20Reclaim/PF.HQ.jpg" alt="">
    </a>
<br>
       <p><strong>USA - West Coast</strong></p>
       <address>
   <strong>PLUSfoam HQ</strong><br>
   844 Production Place<br>
   Newport Beach, CA 92663<br>
   <abbr title="Phone">P:</abbr> (888) 689-PLUS
  </address>
       <a class="btn btn-primary btn-large btn-block" href="https://dl.dropbox.com/u/3700607/PLUS-ShippingLabel-USA-M2012.jpg" target="_blank">Download Label</a>
             </div>


             <div class="col-md-6 text-center">
         <a href="#" class="thumbnail">
                  <img src="https://dl.dropboxusercontent.com/u/3700607/PLUSfoam%20Reclaim/PF.East.jpg" alt="">
   </a>
<br>
       <p><strong>USA - East Coast</strong></p>
       <address>
   <strong>PLUSfoam East Coast Reclaim Center</strong><br>
   c/o Vere Sandals<br>
   122 N. Genesee Street #A303<br>
   Geneva, NY 14456<br>
  </address>
       <a class="btn btn-primary btn-large btn-block" href="http://plusfoam.com//2012PLUS/wp-content/themes/bigbangwp/includes/reclaim/labels/PLUS_Shipping_US_East.pdf" target="_blank">Download Label</a>
             </div>

             </div>
  </body>
</html>