<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.first_name %>,</h1></p>
    <p>
      We have received your recycling request via PLUSfoam.com. This e-mail contains the shipping label that you need to print out and attach to a small package/envelope with your PLUSfoam product inside.</p>

    <p>Please drop your package in the mail soon - we're looking forward to receiving it :)</p>

    <p>Once we receive your package you will receive another e-mail with the confirmation and your discount code/brand reward. It typically takes 7-10 days for us to receive and process your reclaim.</p>

    <p>If you have any questions, feel you can reply to this e-mail or contact us via the help form on our site.</p>

    <p>Have a great day!</p>

    <p>-Chase (I'm the reclaim guru at PLUSfoam)</p>
  </body>
</html>