<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.first_name %>,</h1></p>
    <p>
      We have received your recycling request via PLUSfoam.com. This e-mail contains links to download a shipping label. Kindly select your region and it will direct you to the appropriate label.</p>

    <p> Print out the label & attach it to a small package/envelope with your PLUSfoam product inside.</p>

    <p>Once you're done, please drop it in the mail - we're looking forward to receiving it :)</p>

    <p>When we receive your package you will receive another e-mail with the confirmation recepit and your unique discount code/brand reward. It typically takes 7-10 days for us to process your reclaim.</p>

    <p>If you have any questions, feel you can reply to this e-mail or contact us via the help form on our site.</p>

    <p>Have a great day!</p>

    <p>Chase (I'm the reclaim guru at PLUSfoam)<br>

    <p>---------<br>
    <a href="http://www.plusfoam.com">www.PLUSfoam.com</a><br>
    Follow us on Twitter @PLUScompound
    </p>

  </body>
</html>