<!-- <%= link_to brand.id, brand_path(brand) %> -->

  <a href="/brands/<%= brand.id %>"><%= image_tag brand.image.url, class: "brand-image-logo" %></a>

  <!--<%= link_to image_tag(brand.image), :controller => "brands", :id => 2 %> -->
