<!-- <%= link_to brand.id, brand_path(brand) %> -->

  <a href="/brands/<%= brand.id %>"><img src="<%= brand.image %>"></a>

  <!--<%= link_to image_tag(brand.image), :controller => "brands", :id => 2 %> -->
