
    <%= link_to image_tag(product.image.url(:large), class: "product-image-medium"), product_path(product) %>


<!-- <div id="products">
<% @brand.products.each do  %>
  <div class="product-image-box"> -->
   <!--  </div>
  <% end %>

</div>
 -->