<div id="footer">

   
        <div id="footer-content">

          

         
            
                <div id="footer-bottom" class="clear">
<div class="row">
  <div class="social-links text-center">
    <div class="col-xs-offset-3 col-xs-2">
      <a href="http://www.facebook.com/pluscompound" target="_blank"><i class="fa fa-facebook-square fa-3x fa-inverse"></i></a></div>  
    <div class="col-xs-2">
      <a href="http://www.twitter.com/pluscompound" target="_blank"><i class="fa fa-twitter-square fa-3x fa-inverse"></i></a> </div>
    <div class="col-xs-2"><a href="http://blog.plusfoam.com" target="_blank"><i class="fa fa-rss-square fa-3x fa-inverse"></i></a></div>
    </div>
  </div>


    <div class="footer-links">
      <a href="/about/">About Us</a>
      <a href="/materials/">Our Material</a>
      <a href="http://blog.plusfoam.com" target="_blank">Blog</a> 
      <a href="/marketing">Marketing Tools</a> 
      <a href="/contact">Contact Us</a> 
      <a href="http://www.iubenda.com/privacy-policy/316635">Privacy &amp; Terms</a> 
      <a href="/recycle">Recycle Now</a> 
    </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <p>© 2014 GreenWater Labs</p>
  </div>
</div>
                    
                </div><!--END FOOTER-BOTTOM-->    
            
        </div><!--END FOOTER-CONTENT-->        
    
    </div>

  <!--   <footer class="pull-left">
        <p>© 2014 GreenWater Labs</p>
      </footer>
      <footer class="pull-right">
        <p><%= link_to "Administrator Panel", submissions_path %></p>
      </footer> -->

<script>
// Include the UserVoice JavaScript SDK (only needed once on a page)
UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/el1RL04gTmKbo2A5gomqg.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

//
// UserVoice Javascript SDK developer documentation:
// https://www.uservoice.com/o/javascript-sdk
//

// Set colors
UserVoice.push(['set', {
  accent_color: '#448dd6',
  trigger_color: 'white',
  trigger_background_color: '#448dd6'
}]);

// Identify the user and pass traits
// To enable, replace sample data with actual user traits and uncomment the line
UserVoice.push(['identify', {
//  email:      '', // User’s email address
//  Name:       '', // User’s real name
  //created_at: 1364406966, // Unix timestamp for the date the user signed up
  //id:         123, // Optional: Unique id of the user (if set, this should not change)
  //type:       'Owner', // Optional: segment your users by type
  //account: {
  //  id:           123, // Optional: associate multiple users with a single account
  //  name:         'Acme, Co.', // Account name
  //  created_at:   1364406966, // Unix timestamp for the date the account was created
  //  monthly_rate: 9.99, // Decimal; monthly rate of the account
  //  ltv:          1495.00, // Decimal; lifetime value of the account
  //  plan:         'Enhanced' // Plan name for the account
  //}
}]);

// Add default trigger to the bottom-right corner of the window:
UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

// Or, use your own custom trigger:
//UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
UserVoice.push(['autoprompt', {}]);
</script>