</div>
<div class="section-tout">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-file-o"></i> Easy to Install</h3>
            <p>Simply download a CSS file and replace the one in Bootstrap. No messing around with hex values.</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-github"></i> Open Source</h3>
            <p>Bootstrap themes are released under the MIT License and maintained by the community on <a target="_blank" href="https://github.com/thomaspark/bootswatch">GitHub</a>.</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-wrench"></i> Tuned for 3.1.1</h3>
            <p>Themes are built for the latest version of Bootstrap. <a href="/2/">Version 2.3.2</a> and <a target="_blank" href="https://github.com/thomaspark/bootswatch/tags">others</a> are also available to download.</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-cogs"></i> Modular</h3>
             <p>Changes are contained in just two LESS files, enabling modification and ensuring forward compatibility.</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-cloud"></i> Get Plugged In</h3>
            <p>An <a href="./help/#api" onclick="pageTracker._link(this.href); return false;">API</a> is available for integrating with your platform. In use by <a href="http://320press.com/wpbs/" target="_blank">WPBS</a>, <a href="http://www.fusionleaf.com/" target="_blank">FusionLeaf</a>, <a href="http://yabdab.com/stacks/snaps/bootsnap/" target="_blank">BootSnap</a>, and others.</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-bullhorn"></i> Stay Updated</h3>
            <p>Be notified about updates by subscribing via <a href="http://feeds.feedburner.com/bootswatch">RSS feed</a>, <a href="http://feedburner.google.com/fb/a/mailverify?uri=bootswatch&amp;loc=en_US">email</a>, or <a href="http://news.bootswatch.com" onclick="pageTracker._link(this.href); return false;">Tumblr</a>.</p>
          </div>
        </div>
          <br>
      </div>
    </div>

          <div class="container">
