</div>
<div class="section-tout">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-retweet"></i> 100% Recyclable</h3>
            <p>We offer a true closed loop solution to manufacturers, brands and consumers seeking a smaller footprint.</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-bar-chart-o"></i> Performance Minded</h3>
            <p>PLUSfoam can be used as environmentally-friendly <a href="/materials">alternatives</a> to traditional foams, rubbers and plastics.</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-users"></i> Expert Team</h3>
            <p>Our team is composed of talented industrial designers, engineers and manufacturing experts around the world.</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-globe"></i> Worldwide Recycling</h3>
             <p>We've built the only <a href="/reclaim">digital consumer product portal</a> that supports recycling PLUSfoam products worldwide.</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3>We <i class="fa fa-heart" style="color: #c16a59;"></i> Customers</h3>
            <p>Our<a href="/contact"> support</a> team is available to help you 24x7. Get questions answered in minutes – no need to wait.</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="fa fa-lightbulb-o"></i> Rock & Roll</h3>
            <p>We have<a href="/materials"> material</a> ready now for any & all project needs and it can be delivered in sheet foam or pellets.</p>
</p>
          </div>
        </div>
          <br>
      </div>
    </div>

          <div class="container">
